@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023047;
  color: white;
}

.navbar .logo .home {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.logo {
  font-size: 20px;
  font-weight: 500;
  margin: 8px;
  cursor: pointer;
}

.navbar-link ul {
  display: flex;
}

.navbar-link ul li {
  list-style: none;
}

.navbar-link ul li a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}

.navbar-link ul li:hover {
  background-color: #219ebc;
  transition: 0.6s;
}

.btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

@media (max-width: 600px) {
  .btn {
    display: flex;
  }

  .navbar-link {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-link ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-link ul li {
    text-align: center;
  }

  .navbar-link.active {
    display: flex;
  }
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

h1 {
  font-size: 30px;
  margin-right: 40px;
  color: #023047;
}

.video {
  padding: 40px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
  margin-left: 60px;
  color: #023047;
}
